/*  homepage style */
.main,
.section,
.form,
.social-icons{
    background-color: #e6e6e6;  
}
/*--main style--*/
.main{
    grid-area:cont;
    width: 100%;
    margin: 0 auto;
    border-top: .4rem solid var(--third); 
}
.main-article{
    display: grid;
    grid-auto-rows: repeat(4,auto);
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
    border-bottom: 1px dashed rgba(0, 0, 0, 0.363);
}
.main-title {
    background-color: var(--third);
    border-bottom: 4px solid #fff;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding: 1.2rem;
    width: 100%;
    margin: 0 auto;
    grid-area: b;
}
.main-content{
    display: block;
    margin-block-start: 1rem;
    margin-block-end: .2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.4rem;
    line-height: 2.3rem;
    margin: 4% 10%;
    grid-area: c;
}
.main-img{
    grid-area: a;
    display: flex;
    flex-flow: column;
    margin: auto;
}
.cuscoImg {
    width: 100%;
    opacity: 0.8;
}
.main-img figcaption {
    background-color: #000;
    color: #fff;
    font: smaller 'Lato', sans-serif;
    padding: 3px;
    text-align: center;
    font-style: italic;
}

