.footer{
    grid-area: footer;
    background-color: var(--black);
    padding: .5rem;
}

.footer p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}
