:root {
    --white: #FFFFFF;
    --black: #000000;
    --principal: #1E656D;
    --second:#a11800;
    --third:#F1F3CE;
}

/*GLOBAL*/
html {
    font-size: 62.5%; /*rem methodology*/
    box-sizing: border-box;  /*HACK BOX MODEL */
}
  
*, *:before, *:after { /*box general*/
    box-sizing: inherit;
}

body{
    margin: 0;
    font-size: 1.6rem; /* 1rem = 10px */
    font-family: 'Lato', 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
}
 
img {
    width: 100%;
    /* border: 1px dotted var(--second); */
}

a {
    text-decoration: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    color: var(--black);
    font-family: 'Lato', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-rows: repeat(5,auto);
    grid-template-areas: 
    "head"
    "cont"
    "portfolio"
    "form"
    "footer";
}

.grid-cuscoblog{
    display: grid;
    grid-template-rows: repeat(5,auto);
    grid-template-areas: 
    "head"
    "cont"
    "form"
    "footer";
}