/*main button*/
.main-btn{
    background-color: #000;
    cursor:pointer;
    color:#fff;
    font-size: 1.8rem;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: .5rem 1rem;
    margin: 1rem 0;
    text-decoration:none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border: 2px solid white;
    letter-spacing: .2rem;
    transition: 0.5s;
    -webkit-appearance: none;
}

#btn-cusco{
    grid-area: d;
    margin: 3% 20% 5% 20%;
    -webkit-appearance: none;
}

#goback-btn{
    padding: 2rem ;
    margin: 5% 20% 10% 20%;
    -webkit-appearance: none;
}

.main-btn .icon{
    width: 30px;
    margin-left: .3rem;
}

.main-btn:hover{
    background-color: var(--third);
    color: var(--black);
    cursor: pointer;
    -webkit-appearance: none;
}
/*------------*/

.portfolio-btn{
    grid-area: pbtn;
    margin: 1rem auto;
    font-size: 1rem;
    padding: 2rem 2rem;
    background-color: var(--third);
    color: var(--black);
    -webkit-appearance: none;
}

.portfolio-btn:hover{
    background-color: var(--white);
    color: #000;
   -webkit-appearance: none;
}

/*------------*/

.btn-side{
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
}

.form-btn{
    padding: 2rem;
    border-radius: 10%;
    font-size: 90%;
   -webkit-appearance: none;
}
