.prefooter{
    grid-area: form;
    display: grid;
    grid-auto-rows: auto;
}

.mention{
    background: #000;
    padding: 5rem;
}

.mention h2{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-style: italic;
}

.form{
    width: auto;
    height: auto;
    margin-top: 5rem;
}
.form fieldset{
    border: none;
}

.form legend{
    font-family: 'Lato', sans-serif;;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 5%;
}

.container-field{
    background-color: var(--third);
    border-radius: 1rem;
    margin: 0 auto;
    padding: 2.4rem;
}

.field {
    margin-bottom: 1rem;
}

.field label{
    font-weight: bold;
    margin-bottom: .5rem;
    margin-left: .4rem;
    display: block;
}

.input-text{
    width: 100%;
    border:none; 
    padding: 1.5rem;
    border-radius: .5rem;
}

.field > textarea{
    height: 10rem;
}

.social-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 3rem;
    margin-bottom: .5rem;
}